rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    function signedIn() {
      return request.auth != null;
    }

    function isSuperAdmin() {
      return signedIn() &&
        (request.auth.uid == "IArWgSKZF4a8eu0j3eoWS4el2P02" ||
         request.auth.token.email == "facundoemmert@gmail.com");
    }

    function adminByUid() {
      return get(/databases/$(database)/documents/admins/$(request.auth.uid));
    }

    function adminByEmail() {
      return get(/databases/$(database)/documents/adminsByEmail/$(request.auth.token.email));
    }

    function isActiveAdmin() {
      return isSuperAdmin() ||
        (signedIn() &&
          (
            exists(/databases/$(database)/documents/admins/$(request.auth.uid)) &&
            adminByUid().data.activo == true
          )
        ) ||
        (signedIn() &&
          (
            exists(/databases/$(database)/documents/adminsByEmail/$(request.auth.token.email)) &&
            adminByEmail().data.activo == true
          )
        );
    }

    function hasPermission(p) {
      return isSuperAdmin() ||
        (
          signedIn() &&
          exists(/databases/$(database)/documents/admins/$(request.auth.uid)) &&
          adminByUid().data.activo == true &&
          adminByUid().data.permisos[p] == true
        ) ||
        (
          signedIn() &&
          exists(/databases/$(database)/documents/adminsByEmail/$(request.auth.token.email)) &&
          adminByEmail().data.activo == true &&
          adminByEmail().data.permisos[p] == true
        );
    }


    match /categorias/{id} {
      allow read: if true;
      allow write: if hasPermission("objetivos");
    }

    match /impuestos/{id} {
      allow read: if true;
      allow write: if hasPermission("objetivos");
    }

    match /objetivos/{id} {
      allow read: if true;
      allow write: if hasPermission("objetivos");
    }

    match /configuracion/{id} {
      allow read: if true;
      allow write: if hasPermission("institucional");
    }

    match /obra/{id} {
      allow read: if true;
      allow write: if hasPermission("obra");
    }

    match /transparencia/{id} {
      allow read: if true;
      allow write: if hasPermission("transparencia");
    }

    match /admins/{id} {
      allow read: if isActiveAdmin();
      allow write: if isSuperAdmin();
    }

    match /adminsByEmail/{email} {
      allow read: if isActiveAdmin() || (signedIn() && request.auth.token.email == email);
      allow write: if isSuperAdmin();
    }
  }
}
